/* #Global
  ======================================================= */
body {
  font-family: 'Outfit', sans-serif;
  color: #114352;
}

.text-green {
  color: #009999;
}

.text-green-light {
  color: #C5E8D8
}

.text-red {
  color: #FF0000;
}

.text-underline {
  text-decoration: underline;
}

/* #Pulse Animation
================================================== */
.circle.pulse-animation {
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  background-color: #80cbc4;
}

.pulse-animation {
  position: relative;
}

.pulse-animation::after,
.pulse-animation::before {
  content: '';
  position: absolute;
  display: block;
  border-radius: 50%;
  border: 1px solid #C5E8D8;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: animate 2.5s linear infinite;
  backface-visibility: hidden;
}

.pulse-animation::after {
  animation-delay: 1.25s;
}

.banner .pulse-animation::after,
.banner .pulse-animation::before {
  animation: animateXl 2.5s linear infinite;
}

.banner .pulse-animation::after {
  animation-delay: 1.25s;
}

@media (max-width: 1023.98px) {
  .circle.pulse-animation {
    width: 2.93vw;
    height: 2.93vw;
  }
}

@keyframes animate {
  0% {
    transform: scale(1.05);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(2.25);
    opacity: 0;
  }
}

@keyframes animateXl {
  0% {
    transform: scale(1.05);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(2.75);
    opacity: 0;
  }
}

/* #Buttons
================================================== */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2.6vw;
  padding: 0 2vw;
  border-radius: 500px;
  border: 1px solid transparent;
  transition: border .4s ease, color .4s ease;
  overflow: hidden;
}

/* Primary */
.btn-primary {
  color: #009999;
  padding: 0;
  border-color: #009999;
}

.btn-primary:hover {
  color: white!important;
}

.btn-primary span {
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 2.6vw;
  font-size: 1.04vw;
  padding: 0 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  backface-visibility: hidden;
  font-size: inherit;
}

.btn-primary span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #009999;
  transform: translateY(100%);
  transition: all .4s ease;
  z-index: -1;
  backface-visibility: hidden;
}

.btn-primary:hover span::before {
  transform: translateY(0);
}

.header:not(.header-scrolled) .btn-primary {
  color: white;
  border-color: white;
}

.header.header-always-white .btn-primary {
  color: #009999;
  border-color: #009999;
}

/* Secondary */
.btn-secondary {
  color: #009999;
  padding: 0;
  border-color: white;
  background-color: white;
}

.btn-secondary:hover {
  color: white!important;
}

.btn-secondary span {
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 2.6vw;
  font-size: 1.04vw;
  padding: 0 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  backface-visibility: hidden;
  font-size: inherit;
}

.btn-secondary span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #009999;
  transform: translateY(100%);
  transition: all .4s ease;
  z-index: -1;
  backface-visibility: hidden;
}

.btn-secondary:hover span::before {
  transform: translateY(0);
}

@media (max-width: 1023.98px) {
  .btn {
    height: 10.8vw;
    padding: 0 8.66vw;
    min-width: 38.93vw;
  }
  
  /* Primary */
  .btn-primary span {
    height: 10.8vw;
    font-size: 4.26vw;
    padding: 0 8.66vw;
    width: 100%;
  }

  .btn.btn-primary {
    padding: 0;
  }

  /* Secondary */
  .btn-secondary span {
    height: 10.8vw;
    font-size: 4.26vw;
    padding: 0 8.66vw;
    width: 100%;
  }

  .btn.btn-secondary {
    padding: 0;
  }
}

/* #Link
================================================== */
.link {
  display: inline-flex;
  align-items: center;
  position: relative;
  padding-bottom: .4vw;
}

.link img,
.link svg {
  width: .6vw;
  margin-right: .78vw;
}

.link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #114352;
  transform: scaleX(0);
  transition: transform 0.4s ease;
}

.link:hover::before {
  transform: scaleX(1);
}

.link.link-white::before {
  background-color: white;
}

.header.header-scrolled .link.link-white::before,
.header.header-always-white .link.link-white::before {
  background-color: black;
}

@media (max-width: 1023.98px) {
  .link {
    padding-bottom: 1vw;
  }

  .link img,
  .link svg {
    width: 2vw;
    margin-right: 4vw;
  }
}

/* #Inputs
================================================== */
.input-primary {
  font-family: inherit;
  padding-bottom: .5vw;
  width: 100%;
  border: none;
  border-bottom: 1px solid #C4C4C4;
  color: #114352;
}

.input-primary::placeholder {
  color: #114352;
}

.input-secondary {
  font-family: inherit;
  padding-bottom: .5vw;
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  background-color: transparent;
}

.input-secondary::placeholder {
  color: white;
}

@media (max-width: 1023.98px) {
  .input-primary,
  .input-secondary {
    padding-bottom: 2.66vw;
  }
}

/* #Header
================================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all .4s ease;
  color: white;
  z-index: 1000;
}

.header.header-scrolled,
.header.header-always-white {
  background-color: white;
  color: #114352;
}

.header.header-scrolled {
  box-shadow: 0 3px 25px #1143522b;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 92%;
  padding: 2vw 0;
  transition: padding .4s ease;
}

.header.header-scrolled .container,
.header.header-always-white .container {
  padding: 1.5vw 0;
}

.header a {
  position: relative;
}

.header .icon-black {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity .4s ease;
}

.header.header-scrolled .icon-black,
.header.show .icon-black,
.header.header-always-white .icon-black {
  opacity: 1;
}

.header-logo img {
  width: 13.75vw;
}

.header-links {
  display: flex;
  align-items: center;
}

.header-links li:not(:last-child) {
  margin-right: 2.34vw;
}

@media (max-width: 1023.98px) {
  .header .container {
    width: 88%;
    height: auto;
    padding: 5vw 0!important;
  }
  
  .header.header-scrolled .container {
    padding: 3vw 0!important;
  }

  .header-logo {
    position: relative;
    z-index: 10;
  }
  
  .header-logo img {
    width: 35vw;
  }

  .header-hamburger img {
    width: 7.2vw;
  }

  .header-hamburger {
    position: relative;
  }

  .header-hamburger .close {
    position: absolute;
    top: 0;
    right: 0;
  }

  .header-hamburger .close img {
    width: 4.66vw;
  }
}

/* #Header Menu
================================================== */
@media (max-width: 1023.98px) {
  .header-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #114352;
  
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease;
  }
  
  .header.show .header-menu {
    opacity: 1;
    visibility: visible;
  }
  
  .header-links {
    flex-direction: column;
    color: white!important;
  }

  .header-links li:not(:last-child) {
    margin-bottom: 6vw;
  }

  .header-hamburger .open {
    transition: all .4s ease;
  }
  
  .header-hamburger .close {
    opacity: 0;
    transition: all .4s ease;
  }

  .header.show .close {
    opacity: 1;
  }

  .header.show .open {
    opacity: 0;
  }

  .header.show .header-logo .icon-black {
    opacity: 0;
  }

  .header.show .header-logo .icon-white {
    opacity: 1;
  }
}

/* #Banner
================================================== */
.banner {
  position: relative;
  overflow: hidden;
}

.banner .img img,
.banner .img picture {
  width: 100%;
}

.banner .text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  width: 60%;
}

.home-page .banner .text {
  top: 16.66vw;
}

.banner h1 {
  line-height: 1.26;
  margin-bottom: .25vw;
}

.home-page .banner h1 {
  margin-bottom: 1vw;
}

.banner p {
  margin: 0 auto;
  width: 80%;
}

.banner-circles .circle {
  position: absolute;
}

.banner-circles .circle:nth-child(1) {top: 36.45vw; left: 4.16vw;}
.banner-circles .circle:nth-child(2) {top: 33.85vw; left: 23.4vw;}
.banner-circles .circle:nth-child(3) {top: 43.48vw; left: 27vw;}
.banner-circles .circle:nth-child(4) {top: 36.45vw; left: 46.45vw;}
.banner-circles .circle:nth-child(5) {top: 46.5vw; left: 58.4vw;}
.banner-circles .circle:nth-child(6) {top: 32.95vw; left: 66.5vw;}
.banner-circles .circle:nth-child(7) {top: 40.4vw; left: 74.16vw;}
.banner-circles .circle:nth-child(8) {top: 36.45vw; left: 92.86vw;}

.banner-mask {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.banner-mask img,
.banner-mask picture {
  width: 100%;
}

@media (max-width: 1023.98px) {
  .banner .text {
    top: 40%;
    width: 88%;
  }
  
  .home-page .banner .text {
    top: 33.6vw;
  }
  
  .banner h1 {
    margin-bottom: 2vw;
  }
  
  .home-page .banner h1 {
    margin-bottom: 5.33vw;
  }
  
  .banner p {
    margin: 0 auto;
    width: 91%;
  }

  .banner-circles .circle:nth-child(1) {top: 126.45vw; left: 4.16vw;}
  .banner-circles .circle:nth-child(2) {display: none;}
  .banner-circles .circle:nth-child(3) {top: 153.48vw; left: 27vw;}
  .banner-circles .circle:nth-child(4) {top: 116.45vw; left: 46.45vw;}
  .banner-circles .circle:nth-child(5) {top: 146.5vw; left: 58.4vw;}
  .banner-circles .circle:nth-child(6) {display: none;}
  .banner-circles .circle:nth-child(7) {top: 125.4vw; left: 74.16vw;}
  .banner-circles .circle:nth-child(8) {top: 136.45vw; left: 92.86vw;}
}

/* #Numbers
================================================== */
.numbers {
  padding-bottom: 8.33vw;
}

.numbers .container {
  width: 48%;
}

.numbers .heading {
  margin: 0 auto;
  text-align: center;
  width: 37.5vw;
  margin-bottom: 5.2vw;
}

.numbers h2 {
  margin-bottom: 2vw;
  line-height: 1.26;
}

.numbers .heading p {
  margin: 0 auto;
  width: 70%;
  line-height: 1.5;
}

.numbers .nums ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -3.5vw;
}

.numbers .nums ul li {
  flex: 0 0 16.66vw;
  margin-bottom: 3.5vw;
}

.numbers .nums h3 {
  margin-bottom: .5vw;
}

.numbers .nums p:not(:last-child) {
  margin-bottom: .416vw;
}

@media (max-width: 1023.98px) {
  .numbers {
    padding-bottom: 15.33vw;
  }
  
  .numbers .container {
    width: 86.66%;
  }
  
  .numbers .heading {
    width: 86.66vw;
    margin-bottom: 5.2vw;
  }
  
  .numbers h2 {
    margin-bottom: 2vw;
  }
  
  .numbers .heading p {
    width: 100%;
  }
  
  .numbers .nums ul {
    display: block;
    margin-bottom: -8vw;
  }
  
  .numbers .nums ul li {
    width: 62.13vw;
    margin: 0 auto;
    margin-bottom: 8vw;
    text-align: center;
  }
  
  .numbers .nums h3 {
    margin-bottom: .5vw;
  }
  
  .numbers .nums p:not(:last-child) {
    margin-bottom: .416vw;
  }
}

/* #Video Embed
================================================== */
.video-embed {
  padding: 6.51vw 0 5.7vw 0;
  color: #009999;
}

.video-embed .container {
  width: 48%;
}

.video-embed iframe {
  width: 100%;
  height: 26.78vw;
  margin-bottom: 1.3vw;
  box-shadow: 0 5px 25px #11435276;
}

@media (max-width: 1023.98px) {
  .video-embed {
    padding: 15.33vw 0;
  }
  
  .video-embed .container {
    width: 87.4%;
  }
  
  .video-embed iframe {
    height: 49vw;
    margin-bottom: 5.33vw;
  }
}

/* #Benefits
================================================== */
.benefits {
  padding-bottom: 7.55vw;
  background-image: url('../img/home/benefits-bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top;
}

.benefits .container {
  padding: 0 36.45vw 0 8.75vw;
}

.benefits .heading {
  margin-bottom: 5.2vw;
}

.benefits ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -3.125vw;
}

.benefits ul li {
  flex: 0 0 20vw;
  margin-bottom: 3.125vw;
}

.benefits ul img {
  width: 2.34vw;
  height: 2.34vw;
  object-fit: contain;
  object-position: left center;
  margin-bottom: .78vw;
}

@media (max-width: 1023.98px) {
  .benefits {
    padding-bottom: 15.33vw;
    background-image: url('../img/home/benefits-bg-mobile.jpg');
  }
  
  .benefits .container {
    padding: 0 11.8vw;
  }
  
  .benefits .heading {
    margin-bottom: 9.33vw;
    text-align: center;
  }
  
  .benefits ul {
    display: block;
    margin-bottom: -8vw;
  }
  
  .benefits ul li {
    margin: 0 auto;
    padding: 0 4vw;
    margin-bottom: 8vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .benefits ul img {
    width: 9vw;
    height: 9vw;
    object-position: center;
    margin-bottom: 2.66vw;
  }
}

/* #Partners
================================================== */
.partners {
  position: relative;
}

.partners .img img,
.partners .img picture {
  width: 100%;
}

.partners .text {
  position: absolute;
  top: 5.2vw;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
}

.partners p {
  margin: 0 auto;
  width: 24vw;
}

.partners ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
  margin: 0 auto;
  margin-top: 2.6vw;
}

.partners ul li {
  flex: 0 0 33.33333%;
  margin-bottom: 2vw;
}

.partners ul img {
  height: 2.6vw;
  width: auto;
  margin: 0 auto;
}

@media (max-width: 1023.98px) {
  .partners .text {
    top: 14.66vw;
  }
  
  .partners p {
    width: 76.66vw;
    line-height: 1.3;
  }
  
  .partners ul {
    margin-top: 11.33vw;
    flex-wrap: wrap;
    width: 85%;
  }

  .partners ul li {
    margin-bottom: 5.33vw;
  }
  
  .partners ul img {
    height: 6.65vw;
    width: auto;
  }
}

/* #Footer
================================================== */
.footer {
  position: relative;
}

.footer .img img,
.footer .img picture {
  width: 100%;
}

.footer .text {
  position: absolute;
  bottom: 2.6vw;
  left: 50%;
  transform: translateX(-50%);
  width: 92%;
  color: white;
}

.footer .heading {
  margin: 0 auto;
  width: 54.4vw;
  text-align: center;
  line-height: 1.16;
  margin-bottom: 23.95vw;
}

.footer .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #C5E8D8;
  margin-bottom: 4.4vw;
}

.footer-logo img {
  margin: 0 auto;
  width: 16.25vw;
  margin-bottom: 1.8vw;
}

.footer .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  align-items: center;
  line-height: 1;
  opacity: .5;
  margin-left: 2vw;
}

.footer-links li:not(:last-child) {
  margin-right: 2.8vw;
  padding-right: 2.8vw;
  border-right: 1px solid white;
}

@media (max-width: 1023.98px) {
  .footer .text {
    bottom: 8.66vw;
    width: 85%;
    color: white;
  }
  
  .footer .heading {
    width: 100%;
    margin-bottom: 34vw;
  }
  
  .footer .top {
    margin-bottom: 12vw;
  }
  
  .footer-logo img {
    width: 41.6vw;
    margin-bottom: 4vw;
  }
  
  .footer .bottom {
    flex-direction: column;
  }
  
  .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    line-height: 1;
    opacity: .5;
    margin-left: 0;
    order: -1;
    margin-bottom: 9.66vw;
  }

  .footer-links li {
    flex: 0 0 33.3333%;
    margin-bottom: 5vw;
  }
  
  .footer-links li:not(:last-child) {
    margin-right: 0;
    padding-right: 0;
    border-right: 1px solid white;
  }

  .footer-links li:nth-child(2),
  .footer-links li:nth-child(5) {
    text-align: center;
  }

  .footer-links li:nth-child(3),
  .footer-links li:nth-child(6) {
    text-align: right;
    border: none;
  }
}

/* #Process
================================================== */
.process {
  overflow: hidden;
}

.process .heading {
  text-align: center;
  margin-bottom: 2.6vw;
}

.process .swiper {
  padding-left: 2.6vw;
}

.process .swiper-slide {
  padding: 0 2.6vw;
}

.process .swiper-slide .img {
  position: relative;
  margin-bottom: 1.5vw;
}

.process .swiper-slide img {
  width: 100%;
  height: 21.14vw;
  object-fit: cover;
  object-position: center;
}

.process .swiper-slide .img h3 {
  position: absolute;
  bottom: 1.5vw;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  width: 27.86vw;
  text-align: center;
  line-height: 1;
}

.process .next,
.process .prev {
  position: absolute;
  top: 11.07vw;
  transform: translateY(-50%);
  z-index: 20;
  cursor: pointer;
}

.process .next img,
.process .prev img {
  width: .6vw;
}

.process .prev {
  left: 2.6vw;
}

.process .next {
  left: 41vw;
}

.process .text {
  text-align: center;
  color: #DBDBDB;
  transition: all .4s ease;
}

.process .swiper-slide-active .text {
  color: #009999;
}

.process .dot {
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  background-color: #DBDBDB;
  margin: 0 auto;
  border: 4px solid #FAFAFA;
  transition: all .4s ease;
}

.process .swiper-slide-active .dot {
  background-color: #009999;
}

.process .slider {
  position: relative;
}

.process .slider::after {
  content: '';
  position: absolute;
  bottom: .45vw;
  left: 15%;
  width: 85%;
  height: 1px;
  background-color: #C4C4C4;
}

@media (max-width: 1023.98px) {
  .process .heading {
    margin-bottom: 6.65vw;
  }

  .process .slider {
    padding-left: 5vw;
    position: relative;
  }
  
  .process .swiper {
    padding-left: 0;
    position: static;
  }
  
  .process .swiper-slide {
    padding: 0 4.33vw;
  }
  
  .process .swiper-slide .img {
    margin-bottom: 3.33vw;
  }
  
  .process .swiper-slide img {
    height: 46.26vw;
  }
  
  .process .swiper-slide .img h3 {
    bottom: 4vw;
    width: 65vw;
  }
  
  .process .next,
  .process .prev {
    top: 23.13vw;
  }
  
  .process .next img,
  .process .prev img {
    width: 2.4vw;
  }
  
  .process .prev {
    left: 3vw;
  }
  
  .process .next {
    left: 90vw;
  }
  
  .process .dot {
    width: 2.26vw;
    height: 2.26vw;
    border: 1px solid #FAFAFA;
  }

  .process .swiper-slide-active .dot {
    background-color: #009999;
  }
  
  .process .slider {
    position: relative;
  }
  
  .process .slider::after {
    bottom: 1vw;
    left: 30%;
    width: 70%;
  }
}

/* #Technology
================================================== */
.technology {
  position: relative;
  overflow: hidden;
}

.technology .img img,
.technology .img picture {
  width: 100%;
}

.technology .text {
  position: absolute;
  top: 6.9vw;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  width: 100%;
  z-index: 2;
}

.technology .heading {
  text-align: center;
  margin: 0 auto;
  width: 51.56vw;
}

.technology .heading p {
  margin-bottom: 2.9vw;
}

.technology h3 {
  line-height: 1.23;
}

.technology .dropdowns {
  width: 88.5%;
  margin: 0 auto;
  margin-top: 9.375vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.technology .dropdown-toggler {
  flex-shrink: 0;
}

.technology .dropdown-toggler img {
  width: 1.97vw;
}

.technology .dropdown .dropdown-menu p {
  line-height: 1.375;
  margin-top: .5vw;
}

.technology .circle.pulse-animation {
  width: 34.9vw;
  height: 34.9vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 23vw;
  background-color: transparent;
  border: 1px solid #C5E8D8;
}

@media (min-width: 1024px) {
  .technology .dropdown {
    display: flex;
  }

  .technology .dropdown:nth-child(odd) {
    flex-direction: row-reverse;
    text-align: right;
  }

  .technology .dropdown:nth-child(even) .dropdown-toggler {
    margin-right: 4.16vw;
  }

  .technology .dropdown:nth-child(odd) .dropdown-toggler {
    margin-left: 4.16vw;
  }

  .technology .dropdown:nth-child(1) {
    margin-right: 55vw;
  }

  .technology .dropdown:nth-child(2) {
    margin-top: 8vw;
    margin-left: 50vw;
  }

  .technology .dropdown:nth-child(3) {
    margin-right: 57vw;
    margin-top: 1vw;
  }

  .technology .dropdown:nth-child(4) {
    margin-left: 57vw;
    margin-top: 4vw;
  }

  .technology .dropdown .dropdown-menu {
    position: static;
    transform: none;
    opacity: 1;
    visibility: visible;
    width: 17.45vw;
  }
}

@media (max-width: 1023.98px) {
  .technology .text {
    top: 15vw;
  }
  
  .technology .heading {
    width: 88%;
  }
  
  .technology .heading p {
    margin-bottom: 5.33vw;
  }
  
  .technology h3 {
    line-height: 1.23;
  }
  
  .technology .dropdowns {
    width: 87%;
    margin-top: 48vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .technology .dropdown {
    display: flex;
  }
  
  .technology .dropdown-toggler {
    flex-shrink: 0;
  }
  
  .technology .dropdown-toggler img {
    width: 8vw;
  }
  
  .technology .dropdown .dropdown-menu p {
    line-height: 1.375;
    margin-top: .5vw;
  }

  .technology .dropdown:nth-child(1) {
    margin-right: 80vw;
  }

  .technology .dropdown:nth-child(2) {
    margin-left: 80vw;
    margin-top: -8vw;
  }

  .technology .dropdown:nth-child(3) {
    margin-left: 59vw;
    margin-top: 29vw;
  }

  .technology .dropdown:nth-child(4) {
    margin-right: 40vw;
    margin-top: 10vw;
  }

  .technology .dropdown {
    position: static;
  }

  .dropdown .dropdown-menu {
    position: absolute;
    bottom: auto;
    right: auto;
    top: 101vw;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    background-color: #F1F9F9;
    color: #009999;
    padding: 3vw;
  }

  .technology .circle.pulse-animation {
    width: 89vw;
    height: 89vw;
    top: 60vw;
  }
}

/* #Contact
================================================== */
.contact {
  padding: 7.8vw 0 3.125vw 0;
}

.contact .container {
  padding: 0 10.26vw 0 3.75vw;
}

.contact .row {
  display: flex;
  align-items: flex-end;
}

.contact .img {
  flex: 0 0 54.84vw;
  flex-shrink: 0;
  margin-right: 7.8vw;
}

.contact .img img,
.contact .img picture {
  width: 100%;
}

.contact .text {
  padding-bottom: 1vw;
}

.contact .heading {
  margin-bottom: 2.6vw;
}

.contact h1 {
  line-height: 1.5;
}

.contact input {
  margin-bottom: 1.8vw;
}

.contact form a img {
  width: 4.16vw;
}

.contact .info {
  margin-top: 2vw;
}

.contact .info ul {
  display: flex;
}

.contact .info li:not(:last-child) {
  margin-right: 9.375vw;
}

@media (max-width: 1023.98px) {
  .contact {
    padding: 16.66vw 0 0 0;
  }
  
  .contact .container {
    padding: 0;
  }
  
  .contact .row {
    display: block;
    text-align: center;
    padding: 0 5.33vw;
  }
  
  .contact .img {
    margin-right: 0;
  }
  
  .contact .text {
    padding-bottom: 10vw;
    padding-top: 3.33vw;
  }
  
  .contact .heading {
    margin-bottom: 6vw;
  }
  
  .contact h1 {
    line-height: 1.23;
    margin-top: 1.33vw;
  }
  
  .contact input {
    margin-bottom: 6vw;
    text-align: center;
  }
  
  .contact form a img {
    width: 15vw;
    margin: 0 auto;
  }
  
  .contact .info {
    margin-top: 2vw;
    background-color: #EAF0F2;
    padding: 9.33vw 0;
  }
  
  .contact .info ul {
    display: block;
    text-align: center;
  }
  
  .contact .info li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 8vw;
  }
}

/* #Stories
================================================== */
.stories {
  padding: 6.25vw 0;
}

.stories .container {
  width: 82%;
}

.stories ul {
  display: flex;
  flex-wrap: wrap;
  margin: -1vw -1.5vw;  
}

.story {
  flex: 0 0 50%;
  padding: 1vw 1.5vw;
}

.story > div {
  box-shadow: 0 3px 20px rgba(0, 0, 0, .14);
  padding: 1.5vw 1.3vw;
}

.story .quottes {
  width: 4.16vw;
  margin-bottom: 2vw;
}

.story .logo {
  height: 1.8vw;
  margin-bottom: .78vw;
}

.story .text {
  line-height: 1.5;
  margin-bottom: 1.8vw;
}

.story .author {
  display: flex;
  align-items: center;
}

.story .author img {
  width: 2.5vw;
  margin-right: .5vw;
  flex-shrink: 0;
  border-radius: 50%;
}

@media (max-width: 1023.98px) {
  .stories {
    padding: 8.66vw 0 17vw 0;
  }
  
  .stories .container {
    width: 86%;
  }
  
  .stories ul {
    display: block;
    margin: 0;  
  }
  
  .story {
    padding: 0 0 6.65vw 0;
  }
  
  .story > div {
    padding: 5vw;
  }
  
  .story .quottes {
    width: 14.13vw;
    margin-bottom: 6vw;
  }
  
  .story .logo {
    height: 8vw;
    margin-bottom: 2.66vw;
  }
  
  .story .text {
    line-height: 1.3;
    margin-bottom: 8vw;
  }
  
  .story .author img {
    width: 11.46vw;
    margin-right: 2.66vw;
  }
}

/* #Job
================================================== */
.job {
  padding: 10.15vw 0 7vw 0;
  background-image: url('../img/home/benefits-bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0 15vw;
}

.job .container {
  width: 33.6%;
}

.job .heading {
  margin-bottom: 2vw;
}

.job h1 {
  margin: 1.5vw 0 .5vw 0;
}

.job h2 {
  border-bottom: 1px solid #114352;
  margin-bottom: 1.5vw;
}

.job .group {
  margin-bottom: 2.34vw;
}

.job ul {
  list-style: initial;
  padding-left: 19px;
}

.job li:not(:last-child) {
  margin-bottom: .25vw;
}

.job ul,
.job p {
  line-height: 1.5;
}

@media (max-width: 1023.98px) {
  .job {
    padding: 26.66vw 0 21vw 0;
    background-image: none;
  }
  
  .job .container {
    width: 86.6%;
    display: flex;
    flex-direction: column;
  }
  
  .job .heading {
    margin-bottom: 8vw;
  }
  
  .job h1 {
    margin: 4vw 0 2.66vw 0;
  }
  
  .job h2 {
    margin-bottom: 4vw;
  }
  
  .job .group {
    margin-bottom: 8vw;
  }
  
  .job li:not(:last-child) {
    margin-bottom: 1.33vw;
  }
  
  .job ul,
  .job p {
    line-height: 1.3;
  }

  .job .btn {
    margin: 0 auto;
  }
}

/* #Jobs Page
================================================== */
.jobs-page .banner .text {
  width: 46vw;
}

@media (max-width: 1023.98px) {
  .jobs-page .banner .text {
    width: 99%;
  }
}

/* #Jobs
================================================== */
.jobs {
  padding: 3.38vw 0 7.55vw 0;
}

.jobs .container {
  width: 65.35%;
}

.jobs .tab-navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4.17vw;
}

.jobs .tab-btn:not(:last-child) {
  margin-right: 3.9vw;
}

.jobs .tab-btn.active {
  border-bottom: 1px solid #114352;
}

.jobs-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -2vw -3.38vw -2vw;
}

.job-item {
  flex: 0 0 33.3333%;
  text-align: center;
  padding: 3.38vw 2vw;
}

.job-item > div {
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  padding-top: 5.2vw;
  position: relative;
}

.job-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.9vw;
  background-color: #F1F9F9;
  margin-top: 1vw;
}

.job-item p {
  margin-top: 1.8vw;
}

.job-item img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 8.33vw;
  width: auto;
}

@media (max-width: 1023.98px) {
  .jobs {
    padding: 9.33vw 0 16.66vw 0;
  }
  
  .jobs .container {
    width: 100%;
  }
  
  .jobs .tab-navigation ul {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 0;
    text-align: center;
  }
  
  .jobs .tab-btn:not(:last-child) {
    margin-right: 5vw;
  }
  
  .jobs .tab-btn.active {
    border-bottom: 1px solid #114352;
  }
  
  .jobs-list {
    display: block;
    margin: 0;
    padding: 13.33vw 5% 0 5%;
  }
  
  .job-item {
    text-align: center;
    padding: 13.33vw 0;
  }
  
  .job-item > div {
    padding-top: 24.66vw;
  }
  
  .job-item a {
    height: 13.33vw;
    margin-top: 4vw;
  }
  
  .job-item p {
    margin-top: 6vw;
  }
  
  .job-item img {
    height: 38.66vw;
  }
}

/* #Who we are
================================================== */
.who-we-are {
  text-align: center;
  padding: 11.2vw 0 9.6vw 0;
  position: relative
}

.who-we-are .container {
  width: 40.41vw;
  line-height: 1.5;
}

.who-we-are .img {
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.who-we-are .img img {
  width: 32vw;
}

@media (max-width: 1023.98px) {
  .who-we-are {
    padding: 22vw 0 23.5vw 0;
  }
  
  .who-we-are .container {
    width: 88.6%;
    line-height: 1.3;
  }

  .who-we-are h2 {
    margin-bottom: 2vw;
  }
  
  .who-we-are .img {
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
  }
  
  .who-we-are .img img {
    width: 100%;
  }
}

/* #About Img
================================================== */
.about-img img {
  margin: 0 auto;
  width: 64.5vw;
  height: 33.85vw;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1023.98px) {
  .about-img img {
    width: 87.46vw;
    height: 68.8vw;
  }
}

/* #Team
================================================== */
.team {
  text-align: center;
  padding: 6.35vw 0 0 0;
}

.team .container {
  width: 64.5%;
}

.team h2 {
  margin-bottom: 4.16vw;
}

.team ul {
  display: flex;
  flex-wrap: wrap;
  margin: -5.2vw -2.6vw 0 -2.6vw;
}

.team ul li {
  flex: 0 0 33.33333%;
  padding: 5.2vw 2.6vw 0 2.6vw;
}

.team .img {
  width: 100%;
  height: 17vw;
  background-color: #F1F9F9;
  border-radius: 5px;
  display: block;
  position: relative;
  margin-bottom: 1.8vw;
}

.team .img img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 19.11vw;
}

@media (max-width: 1023.98px) {
  .team {
    padding: 13.33vw 0 0 0;
  }
  
  .team .container {
    width: 87.4%;
  }
  
  .team h2 {
    margin-bottom: 20vw;
  }
  
  .team ul {
    display: block;
    margin: -18vw 0 0 0;
  }
  
  .team ul li {
    padding: 18vw 0 0 0;
  }
  
  .team .img {
    height: 63vw;
    margin-bottom: 5vw;
  }
  
  .team .img img {
    height: 71.86vw;
  }
}

/* #Join Team
================================================== */
.join-team {
  text-align: center;
  padding: 7.3vw 0;
}

.join-team h2 {
  margin-bottom: 1.5vw;
}

@media (max-width: 1023.98px) {
  .join-team {
    padding: 21.86vw 0;
  }
  
  .join-team h2 {
    margin-bottom: 5vw;
  }
}

/* #Error
================================================== */
.error {
  padding: 17.2vw 0 10vw 0;
}

.error .container {
  text-align: center;
  width: 32.4%;
}

.error img {
  width: 100%;
  margin-bottom: 3.8vw;
}

.error p {
  margin: .25vw 0 2vw 0;
}

@media (max-width: 1023.98px) {
  .error {
    padding: 67.33vw 0 50vw 0;
  }
  
  .error .container {
    width: 83%;
  }
  
  .error img {
    margin-bottom: 10vw;
  }
  
  .error p {
    margin: 2vw 0 8vw 0;
  }
}

/* #Sustainability Contact
================================================== */
.sustainability-page .contact {
  padding: 3.65vw 0 4.68vw 0;
}

@media (max-width: 1023.98px) {
  .sustainability-page .contact {
    padding: 4.66vw 0 14.66vw 0;
  }
}

/* #Sustainability Text
================================================== */
.sustainability-text {
  text-align: center;
  padding: 6.25vw 0 5.2vw 0;
}

.sustainability-text .container {
  width: 46%;
}

.sustainability-text h2 {
  margin-bottom: 1.5vw;
}

.sustainability-text p {
  line-height: 1.5;
}

@media (max-width: 1023.98px) {
  .sustainability-text {
    text-align: center;
    padding: 12vw 0 10vw 0;
  }
  
  .sustainability-text .container {
    width: 97%;
  }
  
  .sustainability-text h2 {
    margin-bottom: 5vw;
  }
  
  .sustainability-text p {
    line-height: 1.3;
    padding: 0 3vw;
  }
}

/* #Sustainability Cards
================================================== */
.sustainability-cards .container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.sustainability-cards .card {
  position: relative;
  width: 40.3vw;
}

.sustainability-cards .card:first-child {
  margin-right: 2vw;
}

.sustainability-cards .card .img img {
  width: 100%;
}

.sustainability-cards .card .text {
  position: absolute;
  top: 3.65vw;
  left: 50%;
  transform: translateX(-50%);
  width: 33vw;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sustainability-cards .card .input-secondary {
  margin-top: 2.34vw;
  margin-bottom: .25vw;
}

.sustainability-cards .btn {
  margin: 1.8vw 0 .78vw 0;
}

.sustainability-cards .circle {
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.sustainability-cards .card-1 .circle {
  margin-top: 2vw;
}

.sustainability-cards .card-2 .circle {
  margin-top: 3.2vw;
}

.sustainability-cards h2 {
  line-height: 1.25;
}

.sustainability-cards .range-slider {
  width: 100%;
  margin-top: 1.8vw;
}

.sustainability-cards .range-slider .imgs {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.sustainability-cards .range-slider .imgs img {
  width: 2.2vw;
  height: 2.65vw;
  object-fit: contain;
  object-position: bottom center;
}

/* Range Slider */
.rs-container {
  height: 3.5vw;
  margin-top: 1.8vw;
  padding-right: 4vw;
}

.rs-container .rs-scale {
  display: none;
}

.rs-container .rs-bg, .rs-container .rs-selected {
  height: 2vw;
  border-radius: 2vw;
}

.rs-container .rs-selected {
  background-color: #C5E8D8;
  border: 1px solid #C5E8D8;
}

.rs-container .rs-pointer {
  background-color: #fff;
  border: none;
  border-radius: 50%;
  height: 3.5vw;
  width: 3.5vw;
  left: -10px;
  top: -.45vw;
}

.rs-container .rs-pointer::before {
  width: 1.45vw;
  height: 1.45vw;
  border-radius: 50%;
  background-color: #C5E8D8;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.rs-container .rs-pointer::after {
  display: none;
}

@media (max-width: 1023.98px) {
  .sustainability-cards .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  
  .sustainability-cards .card {
    width: 88%;
  }
  
  .sustainability-cards .card:first-child {
    margin-right: 0;
    margin-top: 5.33vw;
  }

  .sustainability-cards .card .img img {
    width: 100%;
    height: 160vw;
    object-fit: cover;
    object-position: bottom center;
  }
  
  .sustainability-cards .card .text {
    top: 10.66vw;
    width: 76.66vw;
  }
  
  .sustainability-cards .card .input-secondary {
    margin-top: 6.65vw;
    margin-bottom: 2vw;
  }
  
  .sustainability-cards .btn {
    margin: 6.65vw 0 2vw 0;
  }
  
  .sustainability-cards .circle {
    width: 37.73vw;
    height: 37.73vw;
  }
  
  .sustainability-cards .card-1 .circle {
    margin-top: 6.65vw;
  }
  
  .sustainability-cards .card-2 .circle {
    margin-top: 5.33vw;
  }
  
  .sustainability-cards h2 {
    line-height: 1.13;
  }

  .sustainability-cards .card-1 h2 {
    margin: 0 auto;
    width: 95%;
  }
  
  .sustainability-cards .range-slider {
    width: 100%;
    margin-top: 8vw;
  }
  
  .sustainability-cards .range-slider .imgs {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  
  .sustainability-cards .range-slider .imgs img {
    width: 9vw;
    height: 11vw;
  }

  /* Range Slider */
  .rs-container {
    height: 10vw;
    margin-top: 3.33vw;
  }

  .rs-container .rs-bg, .rs-container .rs-selected {
    height: 3.33vw;
    border-radius: 5.33vw;
  }
  
  .rs-container .rs-pointer {
    height: 10vw;
    width: 10vw;
    top: -2vw;
  }
  
  .rs-container .rs-pointer::before {
    width: 5.86vw;
    height: 5.86vw;
  }
}

/* #Gallery
================================================== */
.gallery {
  padding-bottom: 6.77vw;
  text-align: center;
}

.gallery .container {
  width: 91%;
}

.gallery h2 {
  margin-bottom: 4.4vw;
}

.gallery .hes-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -.67vw;
}

.gallery .hes-gallery .img {
  flex: 0 0 50%;
  padding: .67vw;
}

.gallery .hes-gallery .img img {
  width: 100%;
}

@media (max-width: 1023.98px) {
  .gallery {
    padding-bottom: 17.33vw;
  }
  
  .gallery .container {
    width: 91%;
  }
  
  .gallery h2 {
    margin-bottom: 8vw;
  }
  
  .gallery .hes-gallery {
    display: block;
    margin: 0;
  }
  
  .gallery .hes-gallery .img {
    padding: 0;
    margin-bottom: 4vw;
  }
}